<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Soundcloud_user_info_crawler</servlet-name>
		<servlet-class>com.ante.user_info_crawler.Soundcloud_user_info_crawlerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Soundcloud_user_info_crawler</servlet-name>
		<url-pattern>/soundcloud_user_info_crawler</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>soundcloud_getter</servlet-name>
		<servlet-class>com.ante.user_info_crawler.SoundcloudGetter</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>soundcloud_getter</servlet-name>
		<url-pattern>/_ah/queue/crawl-user-info</url-pattern>
	</servlet-mapping>
	<!-- Crons -->
	<servlet>
		<servlet-name>crawl_starter</servlet-name>
		<servlet-class>com.ante.user_info_crawler.CrawlStarter</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>crawl_starter</servlet-name>
		<url-pattern>/cron/start_user_info_tasks</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>get_latest_tracks</servlet-name>
		<servlet-class>com.ante.new_tracks.AllNewTracks</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>get_latest_tracks</servlet-name>
		<url-pattern>/cron/get_latest_tracks</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>filter_new_tracks</servlet-name>
		<servlet-class>com.ante.new_tracks.FilterNewTracks</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>filter_new_tracks</servlet-name>
		<url-pattern>/cron/filter_new_tracks</url-pattern>
	</servlet-mapping>
	<!-- End Crons -->
	<servlet>
		<servlet-name>pagerank_wavelet</servlet-name>
		<servlet-class>com.ante.pagerank.PagerankWavelet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>pagerank_wavelet</servlet-name>
		<url-pattern>/_ah/queue/pagerank-wavelet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>pagerank_wavelet_starter</servlet-name>
		<servlet-class>com.ante.pagerank.ComputeNextWavelet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>pagerank_wavelet_starter</servlet-name>
		<url-pattern>/_ah/queue/pagerank-wavelet-starter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>favorites_crawler</servlet-name>
		<servlet-class>com.ante.user_info_crawler.FavoritesCrawler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>favorites_crawler</servlet-name>
		<url-pattern>/_ah/queue/crawl-favorites</url-pattern>
	</servlet-mapping>
	<!--<servlet>
		<servlet-name>statistics_wavelet</servlet-name>
		<servlet-class>com.ante.user_info_crawler.UserInfoWavelet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>statistics_wavelet</servlet-name>
		<url-pattern>/_ah/queue/statistics-wavelet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>statistics_relative_wavelet</servlet-name>
		<servlet-class>com.ante.user_info_crawler.UserInfoWaveletRelative</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>statistics_relative_wavelet</servlet-name>
		<url-pattern>/_ah/queue/statistics-relative-wavelet</url-pattern>
	</servlet-mapping>-->
	<servlet>
		<servlet-name>track_wavelet</servlet-name>
		<servlet-class>com.ante.user_info_crawler.TrackWavelet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>track_wavelet</servlet-name>
		<url-pattern>/_ah/queue/track-wavelet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>add_to_track_wavelet</servlet-name>
		<servlet-class>com.ante.user_info_crawler.AddToTrackWavelet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>add_to_track_wavelet</servlet-name>
		<url-pattern>/_ah/queue/add-to-track-wavelet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>convert_playcount</servlet-name>
		<servlet-class>com.ante.user_info_crawler.ConvertTrackPlaycounts</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>convert_playcount</servlet-name>
		<url-pattern>/_ah/queue/convert-track-playcounts</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>show_hot_stuff</servlet-name>
		<servlet-class>com.ante.hot_tracks.ShowHotStuff</servlet-class></servlet>
	<servlet-mapping>
		<servlet-name>show_hot_stuff</servlet-name>
		<url-pattern>/show_hot_stuff</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>show_top_5</servlet-name>
		<servlet-class>com.ante.hot_tracks.ShowTop5</servlet-class></servlet>
	<servlet-mapping>
		<servlet-name>show_top_5</servlet-name>
		<url-pattern>/show_top_5</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>show_query_results</servlet-name>
		<servlet-class>com.ante.hot_tracks.ShowBigQueryResults</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>show_query_results</servlet-name>
		<url-pattern>/show_query_results</url-pattern>
	</servlet-mapping>
	<!--one time servlets below this-->
	<servlet>
		<servlet-name>crawl_lorde</servlet-name>
		<servlet-class>com.ante.user_info_crawler.CrawlLorde</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>crawl_lorde</servlet-name>
		<url-pattern>/crawl_lorde</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>delete_all_favorites</servlet-name>
		<servlet-class>com.ante.user_info_crawler.DeleteAllFavorites</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>delete_all_favorites</servlet-name>
		<url-pattern>/delete_all_favorites</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>populate_pageranks</servlet-name>
		<servlet-class>com.ante.pagerank.PopulatePageranks</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>populate_pageranks</servlet-name>
		<url-pattern>/populate_pageranks</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>compute_all_pagerank_wavelets</servlet-name>
		<servlet-class>com.ante.pagerank.ComputeAllWavelets</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>compute_all_pagerank_wavelets</servlet-name>
		<url-pattern>/compute_all_pagerank_wavelets</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>run_one_statistics_wavelet</servlet-name>
		<servlet-class>com.ante.user_info_crawler.ComputeAllWavelets</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>run_one_statistics_wavelet</servlet-name>
		<url-pattern>/run_one_statistics_wavelet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>user_redirect</servlet-name>
		<servlet-class>com.ante.soundcloud_interface.UserIdToSoundcloud</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>user_redirect</servlet-name>
		<url-pattern>/user</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>get_time_series</servlet-name>
		<servlet-class>com.ante.user_info_crawler.GetTimeSeries</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>get_time_series</servlet-name>
		<url-pattern>/get_time_series</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>get_track_timeseries</servlet-name>
		<servlet-class>com.ante.user_info_crawler.GetTrackTimeSeries</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>get_track_timeseries</servlet-name>
		<url-pattern>/get_track_timeseries</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>delete_wavelets</servlet-name>
		<servlet-class>com.ante.user_info_crawler.DeleteAllWavelets</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>delete_wavelets</servlet-name>
		<url-pattern>/delete_wavelets</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>delete_pagerank_wavelets</servlet-name>
		<servlet-class>com.ante.pagerank.DeleteAllPagerankWavelets</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>delete_pagerank_wavelets</servlet-name>
		<url-pattern>/delete_pagerank_wavelets</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>track_redirect</servlet-name>
		<servlet-class>com.ante.soundcloud_interface.TrackIdToSoundcloud</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>track_redirect</servlet-name>
		<url-pattern>/track</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
